commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01_composer_install_drush:
    command: "/usr/bin/composer.phar require drush/drush"
  02_composer_install_symfony_debug:
    command: "/usr/bin/composer.phar require symfony/debug:3.4.12"
  03_composer_install_symfony_dom-crawler:
    command: "/usr/bin/composer.phar require symfony/dom-crawler:3.4.9"
  04_composer_install_drupalconsole:
    command: "/usr/bin/composer.phar require --dev drupal/console"
